<%- include("./header.ejs") %>
  <%- include("./navbar.ejs") %>
  <li class="nav-item">
    <a class="nav-link" href="/medicines">Medicines</a>
  </li>
  <li class="nav-item"><a href="/add-medicine" class="nav-link">Add medicine</a></li>
  </ul>
  <a href="/admin/logout" class="btn btn-danger float-end">Logout</a>
  </div>
  </div>
  </nav>
<%- include("./footer.ejs") %>