<%- include("./header.ejs") %>
  <%- include("./navbar.ejs") %>
  <li class="nav-item">
    <a class="nav-link" href="/medicines">Medicines</a>
  </li>
  </ul>
  </div>
  </div>
  </nav>
  <div class="main">
    <h1><%= pageTitle %></h1>
  </div>
<%- include("./footer.ejs") %>
